
.header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ececec;
}

.header img {
    border-radius: 40%;
    object-fit: cover;
    border: 4px solid #4A90E2;
}

.header h1 {
            margin-top: 15px;
        }

.header p {
    color: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Whole {
    width: 90%;
    max-width: 900px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 25px;
}

.Intro {
    margin-top: 30px;
}

.Intro h2{
    border-left: 4px solid #4A90E2;
    padding-left: 10px;
    margin-bottom: 10px;
}

.Intro p {
    color: #555;
    line-height: 1.6;
}

.skills-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.skill {
            background: #4A90E2;
            color: white;
            padding: 10px 18px;
            border-radius: 6px;
            font-size: 14px;
        }

.Skills {
    margin-top: 30px;
}

.Skills h2{
    border-left: 4px solid #4A90E2 ;
}

.Intro h2 {
    border-left: 4px solid #4A90E2 ;
}


body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #e6efff;
}

.contact {
            margin-top: 20px;
        }
.contact p{
    margin-bottom: 15px;
}

.contact a {
    text-decoration: none;
    padding: 10px 20px;
            background-color: #4A90E2;
            border-radius: 6px;
            color: white;
            margin-right: 10px;
        }

.contact a:hover {
    background-color: #2b6bb7;
}

.contact h2{
    border-left: 4px solid #4A90E2;
}

@media (max-width: 600px) {
            .skills-group {
                flex-direction: column;
            }
        } 

