/* Style for the blue division */
.blue-box {
  background-color:  #004080;   /* Makes background blue */
  color: white;             /* Makes text white for contrast */
  padding: 40px;            /* Adds some space inside the box */
  text-align: center;       /* Centers the text */
  border-radius: 10px;      /* Optional: rounds the corners */
}

.blue-box a {
  color: white;           /* Text color */
  text-decoration: none;  /* Removes underline */
  margin: 30px 10px;         /* Adds horizontal gap (15px on left and right) */
  font-size: 18px;        /* Optional: makes text bigger */
}

 h2 {
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 5px;
    margin-top: 30px;       /* Makes border fit text width */
}



form {
      width: 350px;
      margin: auto;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px
    }

    fieldset {
      border: 2px solid #007bff;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 6px;
      margin: 5px 0;
      border-radius: 3px;
      border: 1px solid #ccc;
    }    

    input[type="radio"] {
      width: auto;
      margin-right: 5px;
    }

    input[type="submit"], input[type="reset"] {
      width: 48%;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover, input[type="reset"]:hover {
      background-color: #0056b3;
    }